.container {
  max-width: fit-content;
  border: 1px solid #646cff;
  border-radius: 8px;
  padding: 50px 20px;
  margin: 50px auto;
  text-align: center;
}
.container h2 {
  margin-bottom: 20px;
}
form {
  max-width: 300px;
}
form input,
button {
  width: 100%;
  margin-bottom: 10px;
}
