.container {
  border: 1px solid #646cff;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
}
.container p {
  margin: 10px 0;
}

.price {
  font-weight: bold;
  font-size: large;
  color: #646cff;
}

/* .container div {
} */
.container img {
  width: 100%;
  margin-bottom: 20px;
}
.container button {
  display: flex;
  justify-content: center;
  align-items: center;
}
